.empty{
text-align:center;
padding:50px;
background:white;
border-radius:12px;
}

.local-price{
color:#6b7280;
font-size:15px;
margin-top:10px;
margin-bottom:5px;
}

@media(max-width:768px){

.search-box{
flex-direction:column;
}

.search-box button{
width:100%;
}

}
